In [2]:
import pandas as pd
import numpy as np

from scipy import stats

In [6]:
df = pd.read_csv('/Users/yumentsao/Yandex.Disk.localized/work/hse/applied_stats/week4/botswana.tsb', sep='\t')

df

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,evermarr,agefm,heduc,urban,electric,radio,tv,bicycle
0,0,18,10,catholic,4.0,1.0,1.0,0,NaN,NaN,1,1.0,1.0,1.0,1.0
1,2,43,11,protestant,2.0,1.0,1.0,1,20.0,14.0,1,1.0,1.0,1.0,1.0
2,0,49,4,spirit,4.0,1.0,0.0,1,22.0,1.0,1,1.0,1.0,0.0,0.0
3,0,24,12,other,2.0,1.0,0.0,0,NaN,NaN,1,1.0,1.0,1.0,1.0
4,3,32,13,other,3.0,1.0,1.0,1,24.0,12.0,1,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4356,0,16,7,protestant,2.0,1.0,0.0,0,NaN,NaN,0,0.0,1.0,0.0,0.0
4357,2,28,7,protestant,4.0,1.0,1.0,0,NaN,NaN,0,0.0,1.0,0.0,0.0
4358,4,24,5,protestant,4.0,1.0,1.0,0,NaN,NaN,0,0.0,1.0,0.0,0.0
4359,1,26,0,spirit,5.0,1.0,0.0,1,22.0,7.0,0,0.0,1.0,0.0,0.0
4360,6,36,3,protestant,8.0,1.0,1.0,1,21.0,0.0,0,0.0,1.0,0.0,0.0

In [7]:
df.nunique()

ceb         14
age         35
educ        21
religion     4
idlnchld    19
knowmeth     2
usemeth      2
evermarr     2
agefm       35
heduc       21
urban        2
electric     2
radio        2
tv           2
bicycle      2
dtype: int64

In [9]:
df.isna().sum()

ceb            0
age            0
educ           0
religion       0
idlnchld     120
knowmeth       7
usemeth       71
evermarr       0
agefm       2282
heduc       2405
urban          0
electric       3
radio          2
tv             2
bicycle        3
dtype: int64

In [24]:
df.dtypes

ceb           int64
age           int64
educ          int64
religion     object
idlnchld    float64
knowmeth    float64
usemeth     float64
evermarr      int64
agefm       float64
heduc       float64
urban         int64
electric    float64
radio       float64
tv          float64
bicycle     float64
dtype: object

In [30]:
df['nevermarr'] = np.nan
df.loc[df['agefm'].isna(),['nevermarr']] = 1

In [34]:
df = df.drop('evermarr', axis=1)

In [36]:
df.loc[df['agefm'].isna(),['agefm']] = 0

In [40]:
df.loc[(df['nevermarr'] == 1) & df['heduc'].isna(), 'heduc'] = -1

In [42]:
df.isna().sum()

ceb             0
age             0
educ            0
religion        0
idlnchld      120
knowmeth        7
usemeth        71
agefm           0
heduc         123
urban           0
electric        3
radio           2
tv              2
bicycle         3
nevermarr    2079
dtype: int64